<div class="modal fade" id="add-reading">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Reading for {{consumer.first_name}}
                    {{consumer.middle_name}}
                    {{consumer.last_name}} {{consumer.ext_name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-reading-form" action="/readings/add" method="POST">
                    {% csrf_token %}
                    <div class="form-group d-none">
                        <label for="consumer_id" class="col-form-label">Consumer:</label>
                        <input type="text" class="form-control" id="consumer_id" name="consumer_id"
                            value="{{consumer.id}}">
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="billing_month" class="col-form-label">Billing Month:</label>
                            <input type="month" class="form-control" id="billing_month" name="billing_month">
                            <div class="is-invalid"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="previous" class="col-form-label">Previous Reading:</label>
                            <input type="number" class="form-control" id="previous" name="previous"
                                oninput="get_consumption()" value="{{last_reading.present}}"
                                placeholder='Previous Reading'>
                            <div class="is-invalid"></div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="number" class="col-form-label">Present Reading:</label>
                            <input type="text" class="form-control" id="present" name="present"
                                oninput="get_consumption()" placeholder='Present Reading'>
                            <div class="is-invalid"></div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="consumption" class="col-form-label">Consumption: (in cubic meter or
                                m<sup>3</sup>)</label>
                            <input type="text" class="form-control" id="consumption" name="consumption" readonly
                                placeholder='Consumption'>
                            <div class="is-invalid"></div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="multiplier" class="col-form-label">Multiplier: (rate per cubic meter or
                                m<sup>3</sup>)</label>
                            <input type="number" class="form-control" id="multiplier" name="multiplier" value="10"
                                oninput="get_consumption()" placeholder='Multiplier'>
                            <div class="is-invalid"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <label class="text-primary col-form-label">Total Bill in <span>&#8369;</span>: </label>
                        <input type="text" class="form-control" id="total_bill" name="total_bill" readonly
                            placeholder='Total Bill'>
                    </div>

                    <div class="text-danger">
                        Notice:
                        <ul>
                            <li>The total bill will be automatically added to this consumer's unpaid bills.</li>
                            <li>Due date is after 30 day (s)</li>
                        </ul>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    const validation = new window.JustValidate('#add-reading-form', {
        errorFieldCssClass: 'is-invalid',
    });

    // const  date = '{{last_reading.billing_month|date:"m/Y"}}';
    // var [month, year] = date.split('/');
    document.getElementById('billing_month').valueAsDate = new Date();

    const previous = document.getElementById('previous');
    const present = document.getElementById('present');
    const consumption = document.getElementById('consumption');
    const multiplier = document.getElementById('multiplier');
    const total_bill = document.getElementById('total_bill');
    const minimum_consumption = 10;

    validation
        .addField('#billing_month', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, ])
        .addField('#previous', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, {
            rule: 'number',
            errorMessage: 'Please input a valid reading',
        }, {
            validator: () => {
                if (parseInt(previous.value) > parseInt(present.value)) {
                    return false;
                } else {
                    return true;
                }

            },
            errorMessage: 'Previous reading must be lesser than present reading',
        }])
        .addField('#present', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, {
            rule: 'number',
            errorMessage: 'Please input a valid reading',
        }, {
            validator: () => {
                if (parseInt(previous.value) > parseInt(present.value)) {
                    return false;
                } else {
                    return true;
                }
            },
            errorMessage: 'Present reading must be greater than previous reading',
        }])
        .addField('#multiplier', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, ])
        .onSuccess((event) => {
            document.getElementById("add-reading-form").submit();
        });


    function get_consumption() {
        consumed = parseInt(present.value) - parseInt(previous.value);
        var consumed_output = 0;
        var total_bill_output = 0;

        if (consumed > 0) {
            consumption.value = consumed
            total = parseFloat(consumption.value) * parseFloat(multiplier.value);

            if (consumed > minimum_consumption) {
                total_bill.value = Math.round(total * 100) / 100;
            } else {
                total_bill.value = 10;
            }

        } else {
            consumption.value = 'Error'
            total_bill.value = 'Error';
        }

    }

</script>