<!-- Modal -->
<div class="modal fade" id="change_password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="change-password" action="/change-password">
                    {% csrf_token %}

                    <div class="row">
                        <div class="form-group col-12">
                            <label for="password" class="col-form-label">Old Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <div class="is-invalid"></div>
                        </div>

                        <div class="form-group col-12">
                            <label for="newpassword" class="col-form-label">New Password:</label>
                            <input type="password" class="form-control" id="newpassword" name="newpassword">
                            <div class="is-invalid"></div>
                        </div>

                        <div class="form-group col-12">
                            <label for="newpassword1" class="col-form-label">Confirm New Password:</label>
                            <input type="password" class="form-control" id="newpassword1" name="newpassword1">
                            <div class="is-invalid"></div>
                        </div>
                    </div>

                    <div class="text-danger mt-1">
                        Note
                        <ul >

                            <li>You will be logged out after changing password</li>
                        </ul>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    const changepass_validation = new window.JustValidate('#change-password', {
        errorFieldCssClass: 'is-invalid',
    });

    const password = document.getElementById('password');
    const newpassword = document.getElementById('newpassword');
    const newpassword1 = document.getElementById('newpassword1');

    changepass_validation
        .addField('#password', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, {
            validator: () => {
                var func = async function validate() {
                    const response = await fetch('/api/v1/validate-password?password=' + password.value);
                    const data = await response.json(); // Extracting data as a JSON Object from the response
                    return data['valid']
                }
                return func;
            },
            errorMessage: 'Wrong password',
        }])
        .addField('#newpassword', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#newpassword1', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, {
            validator: () => {
                if (newpassword.value != newpassword1.value) {
                    return false;
                } else {
                    return true;
                }

            },
            errorMessage: 'Password did not match',
        }])
        .onSuccess((event) => {
            document.getElementById("change-password").submit();
        });


</script>