{% load static %}

{% include 'change_password.html' %}

<nav class="navbar navbar-expand-lg bg-light shadow mb-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bx bx-dots-horizontal"></i>
    </button>
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo.jpg'%}" alt="Water Billing System" width="50">
      <span class="d-none d-sm-inline" style="font-size: 18px;">Waterworks Billing And Collection System</span> 
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        {% if user.is_superuser %}

        <li class="nav-item menu-item {% if page == 'dashboard' %}active{% endif %}">
          <a class="nav-link" href="/admin/dashboard"><span class="bx bx-grid"></span> Dashboard</span></a>
        </li>

        <li class="nav-item menu-item {% if page == 'barangays' %}active{% endif %}">
          <a class="nav-link" href="/baranggays"><span class="bx bx-building-house"></span> Barangays</span></a>
        </li>

        <li class="nav-item menu-item {% if page == 'consumers' %}active{% endif %}">
          <a class="nav-link" href="/consumers"><span class="bx bx-user"></span> Consumers</span></a>
        </li>

        <li class="nav-item dropdown menu-item  {% if page == 'administration' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="bx bxs-dashboard"></span>
            Administration
            <span class="bx bx-chevron-down"></span>
          </a>
          <ul class="dropdown-menu shadow">
            <li>
              <a class="dropdown-item p-3" href="/admin/users">
                <i class="bx bx-user d-inline" style="margin-right: 10px;"></i>
                <div class="d-inline"> Admin Users</div>
              </a>
            </li>

            <li>
              <a class="dropdown-item p-3" href="/admin/treasury-and-transactions">
                <span style="margin-right: 10px;">&#8369;</span>
                <div class="d-inline">Treasury and Transactions</div>
              </a>
            </li>

            <li>
              <a class="dropdown-item p-3" href="/admin/settings">
                <i class="bx bx-cog d-inline" style="margin-right: 10px;"></i>
                <div class="d-inline">Settings and Configurations</div>
              </a>
            </li>


            <li>
              <a class="dropdown-item p-3" href="/admin/password-reset-requests">
                <i class="bx bx-key d-inline" style="margin-right: 10px;"></i>
                <div class="d-inline">Password Reset Requests</div>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item dropdown menu-item  {% if page == 'reports' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="bx bx-file"></span>
            Reports
            <span class="bx bx-chevron-down"></span>
          </a>
          <ul class="dropdown-menu shadow">
            <li>
              <a class="dropdown-item p-3" href="/admin/projections">
                <i class="bx bx-notepad d-inline" style="margin-right: 10px;"></i>
                <div class="d-inline"> Projections</div>
              </a>
            </li>

            <li>
              <a class="dropdown-item p-3" href="/admin/reports">
                <i class="bx bxs-file-txt d-inline" style="margin-right: 10px;"></i>
                <div class="d-inline"> Reports</div>
              </a>
            </li> 
          </ul>
        </li>
        {% endif %}
      </ul>


      <ul class="navbar-nav">
        <li class="nav-item">

        </li>

        <li class="nav-item">
          <a class="nav-link position-relative" href="/notifications">
            <img src="{% static 'images/icons/bell-regular-24.png'%}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-title="Notifications">
            <span class="d-lg-none">Notifications</span>
            <span class="position-absolute top-25 start-25 translate-middle badge rounded-pill bg-danger"
              id="notification"></span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link position-relative" href="/transaction-history">
            <img src="{% static 'images/icons/history-regular-24.png'%}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-title="Transaction History">
            <span class="d-lg-none">Transaction History</span>
            <span class="position-absolute top-25 start-25 translate-middle badge rounded-pill bg-danger"
              id="notification"></span>
          </a>
        </li>

        <!-- {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">
            <img src="{% static 'images/icons/grid-alt-regular-24.png'%}" data-bs-toggle="tooltip"
              data-bs-placement="bottom" data-bs-title="Admin Panel">
            <span class="d-lg-none">Admin Panel</span>
          </a>
        </li>
        {% endif %} -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            <div class="bg-success rounded-circle d-inline-flex justify-content-center align-items-center text-white"
              style="width:30px; height: 30px; font-size: 15px;">
              {{user.first_name|first}}{{user.last_name|first}}
            </div>
            <span>{{user.first_name}} {{user.middle_name}}
              {{user.last_name}} {{user.ext_name}}</span>
            <span class="bx bx-chevron-down"></span>
          </a>
          <ul class="dropdown-menu shadow">
            <!-- <li>
              <div class="dropdown-item dropdown-panel" href="">
                <div class="shadow p-3">
                  <div class="p-2">
                    <div
                      class="bg-success rounded-circle d-inline-flex justify-content-center align-items-center text-white"
                      style="width:30px; height: 30px; font-size: 15px;">
                      {{user.first_name|first}}{{user.last_name|first}}
                    </div>
                    <span>{{user.first_name}} {{user.middle_name}}
                      {{user.last_name}} {{user.ext_name}}</span>
                  </div>
                  <div>

                  </div>
                </div>
              </div>
            </li> -->

            <li>
              <a class="dropdown-item p-3" href="/consumers/{{user.id}}">
                <i class="bx bx-user d-inline" style="margin-right: 10px;"></i>
                <div class="d-inline">View Profile</div>
              </a>
            </li>

            <li>
              <a class="dropdown-item p-3" href="" data-bs-toggle="modal" data-bs-target="#change_password">
                <i class="bx bx-key d-inline" style="margin-right: 10px;"></i>
                <div class="d-inline">Change Password</div>
              </a>
            </li>

            <li>
              <a class="dropdown-item p-3" href="\logout">
                <i class="bx bx-arrow-from-left d-inline" style="margin-right: 10px;"></i>
                <div class="d-inline">Logout</div>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>

<script>
  async function get_total_unpaid_bills() {
    const response = await fetch('/api/v1/notifications/{{user.id}}');
    const data = await response.json(); // Extracting data as a JSON Object from the response

    notification = document.getElementById('notification');
    notification.innerText = data['count'];

    if (data['count'] == 0) {
      notification.classList.add('d-none')
    }
  }
  get_total_unpaid_bills();
</script>