{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<div class="container">
    <h1>Admin Panel</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin Panel</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-lg-3 col-md-3 p-2">
            <div class="border p-2 bg-light" style=" border-left: 5px solid #0275d8 !important;">
                <h5><i class="bx bx-user"></i> Consumers</h5>
                <p id="consumers">200</p>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="consumers">View All</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border p-2 bg-light" style=" border-left: 5px solid #0275d8 !important;">
                <h5><i class="bx bx-building-house"></i> Barangays</h5>
                <p id="baranggays">200</p>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="baranggays">View All</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border p-2 bg-light" style=" border-left: 5px solid #0275d8 !important;">
                <h5><i class="bx bx-user"></i> Admins</h5>
                <p id="admins">200</p>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="/admin/admins">View All</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border p-2 bg-light" style=" border-left: 5px solid #0275d8 !important;">
                <h5><i class="bx bx-key"></i> Password Reset Requests</h5>
                <p id="password-reset-requests">0</p>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="/admin/password-reset-requests">View All</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-4 p-2">
            <div class="border p-2 bg-light">
                <div class="text-primary"><i class="bx bx-water"></i> Consumed Water</div>
                <div class="">
                    <h3><span id="total_consumption">300</span> m<sup>3</sup></h3>
                </div>
                <div class="text-muted" id="reading_latest_date">(as of Dec. 12, 2022)</div>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="/admin/consumption-histogram">View Details</a>
                </div>
                
            </div>
        </div>

        <div class="col-lg-6 col-md-4 p-2">
            <div class="border p-2 bg-light">
                <div class="text-primary"><i class="bx bx-money"></i> Total Collection</div>
                <div class="">
                    <h3><span>&#8369;</span> <span id="total_bills_unpaid">300.00</span></h3>
                </div>
                <div class="text-muted" id="bill_latest_date">(as of Dec. 12, 2022)</div>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="/admin/transaction-history">View Details</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function set_dates() {
        var options = { year: 'numeric', month: 'short', day: 'numeric' };
        var today = new Date();

        document.getElementById('reading_latest_date').innerText = "(as of " + today.toLocaleDateString("en-US", options) + ")";
        document.getElementById('bill_latest_date').innerText = "(as of " + today.toLocaleDateString("en-US", options) + ")";
    }
    set_dates();
</script>

<script>
    async function consumer_count() {
        const response = await fetch('/api/v1/consumer-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('consumers').innerHTML = data['count'];
    }
    consumer_count();

    async function baranggay_count() {
        const response = await fetch('/api/v1/baranggay-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('baranggays').innerHTML = data['count'];
    }
    baranggay_count();

    async function admin_count() {
        const response = await fetch('/api/v1/admin-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('admins').innerHTML = data['count'];
    }
    admin_count();

    async function password_reset_request_count() {
        const response = await fetch('/api/v1/password-reset-request-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('password-reset-requests').innerHTML = data['count'];
    }
    password_reset_request_count();

    async function get_total_consumption() {
        const response = await fetch('/api/v1/consumption');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('total_consumption').innerHTML = data['consumption__sum'];
    }
    get_total_consumption();

    async function get_total_paid_bills() {
        const response = await fetch('/api/v1/bills-paid');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('total_bills_unpaid').innerHTML = data['amount__sum'];
    }
    get_total_paid_bills();
</script>

{%endblock content%}