{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<div class="container">
    <h1>Dashboard</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-lg-3 col-md-3 p-2">
            <div class="border bg-light rounded">
                <div class="row">
                    <div class="col-5">
                        <div style="height: 200px;"
                            class="d-flex justify-content-center align-items-center text-white bg-primary">
                            <div class="text-center">
                                <i class="bx bx-user" style="font-size: 40px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-end">
                            <div>
                                <div class="text-center">
                                    <div>
                                        <h5 id="consumers" style="font-size: 30px; font-weight: bold;">0</h5>
                                        <h5 class="text-muted">Consumers</h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 text-center">
                                       <smail>
                                        <a data-bs-toggle="modal" data-bs-target="#paid_consumers_modal" href="">
                                            Paid
                                        </a>
                                    </smail>
                                       <p><b>{{paid_count}}</b></p>
                                    </div>
                                    <div class="col-6 text-center ">
                                        <small >
                                            <a class="text-success" data-bs-toggle="modal" data-bs-target="#unpaid_consumers_modal" href="">
                                                Unpaid
                                            </a>
                                        </small>
                                        <p><b>{{unpaid_count}}</b></p>
                                     </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border bg-light rounded">
                <div class="row">
                    <div class="col-5">
                        <div style="height: 200px;"
                            class="d-flex justify-content-center align-items-center text-white bg-primary">
                            <div class="text-center">
                                <i class="bx bx-building-house" style="font-size: 40px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div>
                                    <h5 id="baranggays" style="font-size: 30px; font-weight: bold;">0</h5>
                                    <h5 class="text-muted">Barangays</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border bg-light rounded">
                <div class="row">
                    <div class="col-5">
                        <div style="height: 200px;"
                            class="d-flex justify-content-center align-items-center text-white bg-primary">
                            <div class="text-center">
                                <i class="bx bx-user-circle" style="font-size: 40px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div>
                                    <h5 id="admins" style="font-size: 30px; font-weight: bold;">0</h5>
                                    <h5 class="text-muted">Admin Users</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border bg-light rounded">
                <div class="row">
                    <div class="col-5">
                        <div style="height: 200px;"
                            class="d-flex justify-content-center align-items-center text-white bg-primary">
                            <div class="text-center">
                                <i class="bx bx-key" style="font-size: 50px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div style="height: 200px" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div>
                                    <h5 id="password-reset-requests" style="font-size: 40px; font-weight: bold;">0</h5>
                                    <h5 class="text-muted">Reset Request</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 p-2">
            <div class="border bg-light container p-2">
                <div class="d-flex justify-content-between mb-2">
                    <div class="text-primary lead">Consumption</div>
                    <a class="text-muted lead" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Details about water consumption."><span class="bx bxs-info-square"></span></a>
                </div>
                <div id="consumption-histogram"></div>

            </div>
        </div>

        <div class="col-lg-4 col-md-4 p-2">
            <div class="border bg-light">
                <div class="d-flex justify-content-between mb-2 p-2">
                    <div class="text-primary lead"></div>
                    <a class="text-muted lead" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="More details"></span></a>
                </div>
                <div style="height: 266px;">
                    <div id="paid-vs-unpaid"></div>
                </div>
                <div style="height: 75px;" class="bg-primary">
                    <div class="row p-2">
                        <div class="col-4 text-center text-white" style="border-right: 1px solid wheat;">
                            <div>Released Water</div>
                            <h4><span id="released_water">00.00</span> m<sup>3</sup></h4>
                        </div>
                        <div class="col-4 text-center text-white" style="border-right: 1px solid wheat;">
                            <div>Consumed</div>
                            <h4><span id="consumed_water">00.00</span> m<sup>3</sup></h4>
                        </div>
                        <div class="col-4 text-center text-white">
                            <div>Water Loss</div>
                            <h4><span id="water_loss">00.00</span> m<sup>3</sup></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 p-2">
            <div class="border bg-light container p-2">
                <div class="d-flex justify-content-between mb-2">
                    <div class="text-primary lead">Collection</div>
                    <a class="text-muted lead" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Details about water consumption."><span class="bx bxs-info-square"></span></a>
                </div>
                <div id="monthly-collection"></div>

            </div>
        </div>

        <div class="col-lg-4 col-md-4 p-2">
            <div class="border bg-light">
                <div class="d-flex justify-content-between mb-2 p-2">
                    <div class="text-primary lead"></div>
                    <a class="text-muted lead" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="More details"></span></a>
                </div>
                <div style="height: 266px;">
                    <div id="collection-income"></div>
                </div>
                <div style="height: 75px;" class="bg-primary">
                    <div class="row p-2">
                        <div class="col-6 text-center text-white" style="border-right: 1px solid wheat;">
                            <div>Total Income</div>
                            <h4>&#8369; <span id="total_collection">00.00</span> </h4>
                        </div>
                        <div class="col-6 text-center text-white">
                            <div>Projected Income</div>
                            <h4>&#8369; <span id="projected_income">00.00</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Paid Consumer Modal -->
<div class="modal fade" id="paid_consumers_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Paid Consumers</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table" id="paid_consumers">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Meter No.</th>
                                <th scope="col">Contact</th>
                                <th scope="col">- - -</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for consumer in consumers %}
                                {% if consumer.get_status == 'paid' %}
                                    <tr>
                                    
                                        <td>{{consumer.first_name}} {{consumer.middle_name}} {{consumer.last_name}}
                                            {{consumer.ext_name}}
                                        </td>
                                        <td>{{consumer.meter_no}}</td>
                                        <td>{{consumer.contact_no}}</td>
                                        <td class="w-25">
                                            <a class="btn btn-sm btn-success" href="/consumers/{{consumer.id}}"><span
                                                    class="bx bx-wallet"></span> View Profile</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Unpaid Consumer Modal -->
<div class="modal fade" id="unpaid_consumers_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Unpaid Consumers</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table" id="unpaid_consumers">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Meter No.</th>
                                <th scope="col">Contact</th>
                                <th scope="col">- - -</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for consumer in consumers %}
                                {% if consumer.get_status == 'unpaid' %}
                                    <tr>
                                    
                                        <td>{{consumer.first_name}} {{consumer.middle_name}} {{consumer.last_name}}
                                            {{consumer.ext_name}}
                                        </td>
                                        <td>{{consumer.meter_no}}</td>
                                        <td>{{consumer.contact_no}}</td>
                                        <td class="w-25">
                                            <a class="btn btn-sm btn-success" href="/consumers/{{consumer.id}}"><span
                                                    class="bx bx-wallet"></span> View Profile</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
     $('#paid_consumers').dataTable({
        "ordering": false
    });

    $('#unpaid_consumers').dataTable({
        "ordering": false
    });
</script>

<!-- <script>
    function set_dates() {
        var options = { year: 'numeric', month: 'short', day: 'numeric' };
        var today = new Date();

        document.getElementById('reading_latest_date').innerText = "as of " + today.toLocaleDateString("en-US", options);
        document.getElementById('bill_latest_date').innerText = "as of " + today.toLocaleDateString("en-US", options);
    }
    set_dates();
</script> -->

<script>
    async function consumer_count() {
        const response = await fetch('/api/v1/consumer-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('consumers').innerHTML = data['count'];
    }
    consumer_count();

    async function baranggay_count() {
        const response = await fetch('/api/v1/baranggay-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('baranggays').innerHTML = data['count'];
    }
    baranggay_count();

    async function admin_count() {
        const response = await fetch('/api/v1/admin-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('admins').innerHTML = data['count'];
    }
    admin_count();

    async function password_reset_request_count() {
        const response = await fetch('/api/v1/password-reset-request-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('password-reset-requests').innerHTML = data['count'];
    }
    password_reset_request_count();
</script>

<script>
    async function consumption_histogram() {
        const response = await fetch('/api/v1/consumption-histogram');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        var date_format = { year: 'numeric', month: 'short' };
        var formatted_date = new Array()

        for (const date of data['x_label']) {
            formatted_date.push(new Date(date).toLocaleDateString("en-US", date_format))
        }

        var options = {
            chart: {
                height: 300,
                type: "area",
                toolbar: {
                    show: false
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [
                {
                    name: "Consumption",
                    data: data['series']
                }
            ],
            fill: {
                type: "gradient",
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.7,
                    opacityTo: 0.9,
                    stops: [0, 90, 100],
                }
            },
            xaxis: {
                categories: formatted_date
            }
        };

        var chart = new ApexCharts(document.querySelector("#consumption-histogram"), options);
        chart.render();
    }

    consumption_histogram();
</script>

<script>
    async function consumption_pie_chart() {
        const response = await fetch('/api/v1/consumption-pie-chart');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        if (data['released_water'] == null) {
            data['released_water'] = 0;
        }

        if (data['consumed_water'] == null) {
            data['consumed_water'] = 0;
        }

        document.getElementById('released_water').innerHTML = parseFloat(data['released_water'])
        document.getElementById('consumed_water').innerHTML = parseFloat(data['consumed_water'])
        document.getElementById('water_loss').innerHTML = parseFloat(data['water_loss'])

        var options = {
            series: [parseFloat(data['released_water']), parseFloat(data['consumed_water'])],
            chart: {
                type: 'pie',
                height: 240,

            },
            labels: ["Released Water", "Consumed Water"],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 400
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#paid-vs-unpaid"), options);
        chart.render();
    }
    consumption_pie_chart();
</script>

<script>
    async function collection_histogram() {
        const response = await fetch('/api/v1/collection-histogram');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        var date_format = { year: 'numeric', month: 'short' };
        var formatted_date = new Array()

        for (const date of data['x_label']) {
            formatted_date.push(new Date(date).toLocaleDateString("en-US", date_format))
        }

        var options = {
            chart: {
                height: 300,
                type: "bar",
                toolbar: {
                    show: false
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [
                {
                    name: "Collection",
                    data: data['series']
                }
            ],
            xaxis: {
                categories: formatted_date
            }
        };

        var chart = new ApexCharts(document.querySelector("#monthly-collection"), options);
        chart.render();
    }

    collection_histogram();
</script>


<script>
    async function collection_chart() {
        const response = await fetch('/api/v1/collection-radial');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('projected_income').innerHTML = parseFloat(data['projected_income'])
        document.getElementById('total_collection').innerHTML = parseFloat(data['total_collection'])

        var options = {
            series: [data['percentage']],
            chart: {
                height: 250,
                type: 'radialBar',
            },
            plotOptions: {
                radialBar: {
                    hollow: {
                        size: '70%',
                    }
                },
            },
            labels: ['Total Collection'],
        };

        var chart = new ApexCharts(document.querySelector("#collection-income"), options);
        chart.render();
    }

    collection_chart();
</script>


{%endblock content%}