{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<div class="container">
    <h1>Dashboard</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-lg-3 col-md-3 p-2">
            <div class="border bg-light rounded">
                <div class="row">
                    <div class="col-5">
                        <div style="height: 200px;"
                            class="d-flex justify-content-center align-items-center text-white bg-primary">
                            <div class="text-center">
                                <i class="bx bx-user" style="font-size: 50px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div>
                                    <h3 id="consumers" style="font-size: 30px;">200</h3>
                                    <h3>Consumers</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border bg-light rounded">
                <div class="row">
                    <div class="col-5">
                        <div style="height: 200px;"
                            class="d-flex justify-content-center align-items-center text-white bg-primary">
                            <div class="text-center">
                                <i class="bx bx-building-house" style="font-size: 50px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div>
                                    <h3 id="baranggays" style="font-size: 30px;">200</h3>
                                    <h3>Barangays</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border bg-light rounded">
                <div class="row">
                    <div class="col-5">
                        <div style="height: 200px;"
                            class="d-flex justify-content-center align-items-center text-white bg-primary">
                            <div class="text-center">
                                <i class="bx bx-user-circle" style="font-size: 50px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div>
                                    <h3 id="admins" style="font-size: 30px;">200</h3>
                                    <h3>Admin Users</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 p-2">
            <div class="border bg-light rounded">
                <div class="row">
                    <div class="col-5">
                        <div style="height: 200px;"
                            class="d-flex justify-content-center align-items-center text-white bg-primary">
                            <div class="text-center">
                                <i class="bx bx-key" style="font-size: 50px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div>
                                    <h3 id="password-reset-requests" style="font-size: 30px;">200</h3>
                                    <h3>Password <br>Reset Request</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-md-4 p-2">
            <div class="border bg-light container">
                <div class="row">
                    <div class="col-4 bg-primary text-light">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <i class="bx bx-water" style="font-size: 50px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col p-2">
                        <div style="height: 150px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div style="font-size: 40px;"><span id="total_consumption">300</span> m<sup>3</sup>
                                </div>
                                <div class="lead">Consumed Water</div>
                                <div class="text-muted" id="reading_latest_date">as of Dec. 12, 2022</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary" href="/admin/consumption-histogram">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-4 p-2">
            <div class="border bg-light container">
                <div class="row">
                    <div class="col-4 bg-primary text-light">
                        <div style="height: 200px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <span style="font-size: 50px;">&#8369;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col p-2">
                        <div style="height: 150px;" class="d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <div style="font-size: 40px;"><span>&#8369;</span> <span
                                        id="total_bills_unpaid">300.00</span></div>
                                <div class="lead">Total Collection</div>
                                <div class="text-muted" id="bill_latest_date">as of Dec. 12, 2022</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary" href="/admin/transaction-history">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function set_dates() {
        var options = { year: 'numeric', month: 'short', day: 'numeric' };
        var today = new Date();

        document.getElementById('reading_latest_date').innerText = "as of " + today.toLocaleDateString("en-US", options);
        document.getElementById('bill_latest_date').innerText = "as of " + today.toLocaleDateString("en-US", options);
    }
    set_dates();
</script>

<script>
    async function consumer_count() {
        const response = await fetch('/api/v1/consumer-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('consumers').innerHTML = data['count'];
    }
    consumer_count();

    async function baranggay_count() {
        const response = await fetch('/api/v1/baranggay-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('baranggays').innerHTML = data['count'];
    }
    baranggay_count();

    async function admin_count() {
        const response = await fetch('/api/v1/admin-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('admins').innerHTML = data['count'];
    }
    admin_count();

    async function password_reset_request_count() {
        const response = await fetch('/api/v1/password-reset-request-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('password-reset-requests').innerHTML = data['count'];
    }
    password_reset_request_count();

    async function get_total_consumption() {
        const response = await fetch('/api/v1/consumption');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('total_consumption').innerHTML = data['consumption__sum'];
    }
    get_total_consumption();

    async function get_total_paid_bills() {
        const response = await fetch('/api/v1/bills-paid');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('total_bills_unpaid').innerHTML = data['amount__sum'];
    }
    get_total_paid_bills();
</script>

{%endblock content%}