{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<!--Add Modals Here-->

<div class="container">
    <h1>Password Reset Requests</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/admin">Admin Panel</a></li>
            <li class="breadcrumb-item" aria-current="page">Password Reset Requests</li>
        </ol>
    </nav>

    {% if messages %}
    {% for message in messages %}
    {%include 'toast.html'%}
    {% endfor %}
    {% endif %}

    <div class="p-3 bg-light rounded">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table" id="requests">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col">Date Requested</th>
                            <th scope="col">Consumer</th>
                            <th scope="col">Message</th>
                            <th scope="col">Status</th>
                            <th scope="col">- - -</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prr in password_requests %}
                        <tr>
                            <td>{{prr.created_on|date:"M d, Y"}}</td>
                            <td>{{prr.user.first_name}} {{prr.user.middle_name}} {{prr.user.last_name}}
                                {{.user.ext_name}}
                            </td>
                            <td>{{prr.message}}</td>
                            <td class=" {% if prr.status == 'pending' %}text-muted{% endif %}
                                    {% if prr.status == 'approved' %}text-success{% endif %}                        
                        ">{{prr.status}}</td>
                            <td class="w-25">
                                <a class="btn btn-sm btn-success"
                                    href="/admin/approve-password-reset-request/{{prr.id}}"><span
                                        class="bx bx-user"></span>
                                    Approve</a>
                                <a class="btn btn-sm btn-danger"
                                    href="/admin/delete-password-reset-request/{{prr.id}}"><span
                                        class="bx bx-user"></span>
                                    Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>





</div>

<script>
    $('#requests').dataTable({
        "ordering": false
    });
</script>

{%endblock content%}