{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<!--Add Modals Here-->

<div class="container">
    <h1>Reports</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item" aria-current="page">Reports</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-lg-3">
            <form class="mb-3">
                <input value="{{selected_barangay}}" name="barangay" class="d-none">
                <select class="form-select" name="year" onchange="this.form.submit()">
                    <option value="" >---</option>
                    {% for year in years %}
                        <option value="{{year.year}}" {% if year.year == selected_year %}selected{% endif %}>{{year.year}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div class="col-lg-3">
            <form class="mb-3">
                <input value="{{selected_year}}" name="year" class="d-none">
                <select class="form-select" name="barangay" onchange="this.form.submit()">
                    <option value="" >---</option>
                    {% for barangay in barangays_dropdown %}
                        <option value="{{barangay.name}}" {% if barangay.name == selected_barangay %}selected{% endif %}>{{barangay.name}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        
    </div>

    <div class="row">
        <h4>Monthly Reports</h4>

        {% if reports %}
        {% for report in reports%}
        <div class="col-lg-3 col-md-4 p-2">
            <div class="border p-3 bg-light">
                <div class="">
                    <h3>{{report.month|date:"N, Y"}}</h3>
                </div>
                <div class="text-muted">
                    Reports for the month of {{report.month|date:"N, Y"}}.
                </div>

                <div>
                   <span class="text-muted">Status: </span> {{report.status}}
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <a class="btn btn-primary" href="/admin/print-monthly-report/{{report.id}}/" target="_blank">
                        <span class="bx bx-printer"></span> Print Report</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="alert alert-danger mt-3">No monthly reports for now.</div>
        {% endif %}
    </div>

    <div class="row mt-3">
        <h4>Barangay Reports</h4>
        {% if barangays %}
        {% for barangay in barangays %}
        <div class="col-lg-3 col-md-4 p-2">
            <div class="border p-3 bg-light">
                <div class="">
                    <h3>{{barangay.name}}</h3>
                </div>
                <div class="text-muted">
                    Reports for barangay {{barangay.name}}.
                </div>

                <div>
                   <span class="text-muted">No of Consumers: </span> {{barangay.consumer_count}}
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <a class="btn btn-primary" href="/admin/print-barangay-report/{{barangay.id}}/" target="_blank">
                        <span class="bx bx-printer"></span> Print Report</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="alert alert-danger mt-3">No barangay reports for now.</div>
        {% endif %}
    </div>
    {%endblock content%}