{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<!--Add Modals Here-->

<div class="container">
    <h1>Collection</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/admin">Admin Panel</a></li>
            <li class="breadcrumb-item" aria-current="page">Collection</li>
        </ol>
    </nav>

    <div class="p-3 bg-light rounded mb-3">
        <div class="row">
            <div class="col-lg-4 mb-2">
                <div class="rounded p-2 border" style="height: 33%;">
                    <div class="d-flex justify-content-between">
                        <div class="text-primary lead">Total Collection</div>
                        <a class="text-muted lead" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="This is the total amount of money collected." ><span
                                class="bx bxs-info-square"></span></a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <div>
                            <p class="text-muted mb-0" style="font-size: 40px"><span>&#8369;</span> <span
                                    id="total-collection">00.00</span></p>
                        </div>
                    </div>
                </div>

                <div class="border p-2 rounded mt-1" style="height: 33%;">
                    <div class="d-flex justify-content-between">
                        <div class="text-primary lead">This Month's Collection</div>
                        <a class="text-muted lead" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="This is the total amount of money collected for the current month."
                            ><span class="bx bxs-info-square"></span></a>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div>
                            <p class="text-muted mb-0" style="font-size: 40px"><span>&#8369;</span> <span
                                    id="total-collection-by-month">00.00</span></p>

                        </div>
                    </div>
                </div>

                <div class="border p-2 rounded mt-1" style="height: 33%;">
                    <div class="d-flex justify-content-between">
                        <div class="text-primary lead">Collectibles</div>
                        <a class="text-muted lead" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="This is the total amount of money needs to be collected from the consumers."
                            ><span class="bx bxs-info-square"></span></a>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div>
                            <p class="text-muted mb-0" style="font-size: 40px"><span>&#8369;</span> <span
                                    id="total-collectibles">00.00</span></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="border border p-2 rounded">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="text-primary lead">Transaction History</div>
                        <a class="text-muted lead" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="List of money collected from each consumer." ><span
                                class="bx bxs-info-square"></span></a>
                    </div>

                    <div class="table-responsive">
                        <table class="table" id="collections">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Meter No.</th>
                                    <th scope="col">Consumer</th>
                                    <th scope="col">Amount Collected</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trans in transactions %}
                                <tr>
                                    <td>{{trans.created_on|date:"M d, Y"}}</td>
                                    <td>{{trans.user.meter_no}}</td>
                                    <td>{{trans.user.first_name}} {{trans.user.middle_name}} {{trans.user.last_name}}
                                        {{trans.user.ext_name}}
                                    </td>
                                    <td><span>&#8369;</span> {{trans.amount}}</td>
                                    <td class="w-25">
                                        <a class="btn btn-sm btn-success" href="/transact/view/{{trans.id}}"><span
                                                class="bx bx-user"></span> View Details</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="p-3 bg-light rounded mb-3">
        <div class="row">
            <div class="col-lg-12">

                <div class="my-3">
                    <h3>Reports</h3>

                    <div class="d-flex justify-content-end mb-3">
                        <a class="btn btn-primary" href=""><span class="bx bx-printer"></span> Print Collection
                            Report</a>
                    </div>

                    <div class="table-responsive">
                        <table class="table" id="readings">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">Month</th>
                                    <th scope="col">Collection</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for collection in collections %}
                                <tr>
                                    <td>{{collection.month|date:"M Y"}}</td>
                                    <td><span>&#8369;</span> {{collection.amount}} </td>
                                    <td class="w-25">
                                        <a class="btn btn-sm btn-success" href="consumers/{{consumer.id}}"><span
                                                class="bx bx-printer"></span> Print Report</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<script>
    $('#collections').dataTable({
        "ordering": false
    });
</script>

<script>
    async function get_total_collection() {
        const response = await fetch('/api/v1/bills-paid');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        if (data['amount__sum'] != null) {
            document.getElementById('total-collection').innerText = data['amount__sum'];
        }
    }
    get_total_collection();


    async function get_collections_by_month() {
        const response = await fetch('/api/v1/bills-paid-by-month');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        if (data['amount__sum'] != null) {
            document.getElementById('total-collection-by-month').innerText = data['amount__sum'];
        }

    }
    get_collections_by_month();

    async function get_total_collectibles() {
        const response = await fetch('/api/v1/bills-unpaid');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        if (data['amount__sum'] != null) {
            document.getElementById('total-collectibles').innerText = data['amount__sum'];
        }

    }
    get_total_collectibles();

</script>

{%endblock content%}