{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<div class="container">
    <h1>Add Consumer</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="\consumers">Consumers</a></li>
            <li class="breadcrumb-item" aria-current="page">Add Consumer</li>
        </ol>
    </nav>

    <form id="form" method="POST" class="mb-2">
        {% csrf_token %}
        <div class="row">
            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">First Name:</label>
                <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Middle Name:</label>
                <input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="Middle Name">
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Last Name:</label>
                <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Ext. Name:</label>
                <input type="text" name="ext_name" id="ext_name" class="form-control" placeholder="Extension Name">
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Gender:</label>
                <select name="gender" id="gender" class="form-select">
                    <option value="">--select--</option>
                    <option value='Male'>Male</option>
                    <option value='Female'>Female</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Civil Status:</label>
                <select name="civil_status" id="civil_status" class="form-select">
                    <option value="">--select--</option>
                    <option value='Single'>Single</option>
                    <option value='Married'>Married</option>
                    <option value='Widowed'>Widowed</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Adress:</label>
                <select name="address" id="address" class="form-select">
                    <option value="">--select--</option>
                    {% for baranggay in baranggays %}
                    <option value="{{baranggay.id}}">{{baranggay.name}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Religion:</label>
                <select name="religion" id="religion" class="form-select">
                    <option value="">--select--</option>
                    <option value="Christianity">Christianity</option>
                    <option value="Muslim">Muslim</option>
                    <option value="Jewish">Jewish</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Contact Number:</label>
                <input type="text" name="contact_no" id="contact_no" class="form-control" placeholder="Contact Number">
                <div class="invalid-feedback"></div>
            </div>

            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Email:</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                <div class="invalid-feedback"></div>
            </div>


            <div class="form-group mb-3 col-lg-6 col-md-6">
                <label class="mb-2">Meter Number:</label>
                <input type="text" name="meter_no" id="meter_no" class="form-control" placeholder="Meter Number">
                <div class="invalid-feedback"></div>
            </div>

        </div>

        <div class="text-dark">
            Important Notes:
            <ul class="unstyled">
                <li>Username of the the Consumer will be automatically generated.</li>
                <li>Username convention will be firstname_lastname (e.g. juan_delacruz).</li>
                <li>Default password is Password123.</li>
            </ul>

        </div>

        <div class="form-group d-flex justify-content-end">
            <div>
                <a type="" href="\consumers" class="btn btn-danger">Cancel</a>
                <button type="submit" value="submit" class="btn btn-primary">Sumbit</button>
            </div>
        </div>

    </form>
</div>

<script>
    const validation = new window.JustValidate('#form', {
        errorFieldCssClass: 'is-invalid',
    });

    validation
        .addField('#first_name', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#last_name', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#gender', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#civil_status', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#address', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#religion', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#contact_no', [{
            rule: 'number',
            errorMessage: 'Please enter a valid contact number',
        }, {
            rule: 'minLength',
            value: 11,
        }, {
            rule: 'maxLength',
            value: 11,
        }])
        .addField('#email', [{
            rule: 'email',
            errorMessage: 'Please enter a valid email',
        },])
        .addField('#meter_no', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .onSuccess((event) => {
            document.getElementById("form").submit();
        });
</script>

{%endblock content%}