{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<div class="container">
    <h1>Consumers</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Consumers</li>
        </ol>
    </nav>

    <div class="mb-3 d-flex justify-content-end">
        <a class="btn btn-primary" href="consumers/add">Add Consumer</a>
    </div>

    <div class="table-responsive">
        <table class="table" id="consumers">
            <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact #</th>
                    <th scope="col">Address</th>
                    <th scope="col">Meter No.</th>
                    <th scope="col">- - -</th>
                </tr>
            </thead>
            <tbody>
                {% for consumer in consumers %}
                <tr>
                    <th scope="row">{{consumer.id}}</th>
                    <td>{{consumer.first_name}} {{consumer.middle_name}} {{consumer.last_name}} {{consumer.ext_name}}
                    </td>
                    <td>{{consumer.contact_no}}</td>
                    <td>{{consumer.address.name}}</td>
                    <td>{{consumer.meter_no}}</td>
                    <td class="w-25">
                        <a class="btn btn-sm btn-primary" href="consumers/{{consumer.id}}">View Profile</a>
                        <a class="btn btn-sm btn-success" href="consumers/{{consumer.id}}/edit">Edit Profile</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
	$('#consumers').dataTable( {
		"ordering": false
	} );
</script>

{%endblock content%}