{% extends 'app.html'%}

{% load static %}

{% block content %}

{% include 'navbar.html' %}

<!--Add Modals Here-->
{% include '../modals/add-reading.html' %}

<div class="container">
    <h1>{{consumer.first_name}} {{consumer.middle_name}} {{consumer.last_name}} {{consumer.ext_name}}</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="\consumers">Consumers</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="\consumers\{{consumer.id}}">{{consumer.first_name}}
                    {{consumer.middle_name}}
                    {{consumer.last_name}} {{consumer.ext_name}}</a></li>
            <li class="breadcrumb-item" aria-current="page">Readings</li>
        </ol>
    </nav>

    {% if messages %}
    {% for message in messages %}
    {%include 'toast.html'%}
    {% endfor %}
    {% endif %}

    <section class="mb-4">
        <div class="row">
            <div class="col-lg-7">
                <div class="border p-2">
                    <h6 class="text-primary">Readings</h6>
                    <h6>
                        Meter No: {{consumer.meter_no}}
                    </h6>
                    <div class="d-flex justify-content-end mb-2">
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-reading">Add Reading</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="consumers">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Billing Month</th>
                                    <th scope="col">Previous</th>
                                    <th scope="col">Present</th>
                                    <th scope="col">Cubic Meter</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if readings %}
                                {% for reading in readings %}
                                <tr>
                                    <th>#{{reading.id}}</th>
                                    <td>{{reading.billing_month|date:"M Y"}}</td>
                                    <td>{{reading.previous}}</td>
                                    <td>{{reading.present}}</td>
                                    <td>{{reading.consumption}} m<sup>3</sup></td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#exampleModal"
                                        data-id="@mdo">Edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="col-lg-5">
                <div class="border p-2">
                    <h6 class="text-primary">Consumption Histogram</h6>
                    <div id="consumption-histogram"></div>
                </div>
            </div>


        </div>
    </section>

</div>

<script>
    async function render_histogram() {
        const response = await fetch('/api/v1/consumption-history/{{consumer.id}}');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        var date_format = { year: 'numeric', month: 'short' };
        var formatted_date = new Array()

        for (const date of data['x_label']) {
            formatted_date.push(new Date(date).toLocaleDateString("en-US", date_format))
        }

        var options = {
            chart: {
                height: 280,
                type: "area",
                toolbar: {
                    show: false
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [
                {
                    name: "Consumption",
                    data: data['series']
                }
            ],
            fill: {
                type: "gradient",
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.7,
                    opacityTo: 0.9,
                    stops: [0, 90, 100],
                }
            },
            xaxis: {
                categories: formatted_date
            }
        };

        var chart = new ApexCharts(document.querySelector("#consumption-histogram"), options);
        chart.render();
    }

    render_histogram();
</script>
{% endblock content %}