{% extends 'app.html'%}

{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <h1>{{consumer.first_name}} {{consumer.middle_name}} {{consumer.last_name}} {{consumer.ext_name}}</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="\consumers">Consumers</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="\consumers\{{consumer.id}}">{{consumer.first_name}}
                    {{consumer.middle_name}}
                    {{consumer.last_name}} {{consumer.ext_name}}</a></li>
            <li class="breadcrumb-item" aria-current="page">Bills</li>
        </ol>
    </nav>

    {% if messages %}
    {% for message in messages %}
    {%include 'toast.html'%}
    {% endfor %}
    {% endif %}

    <section class="mb-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="border p-2 bg-light rounded">
                    <h6 class="text-primary">Bills</h6>
                    <h6>
                        Meter No: {{consumer.meter_no}}
                    </h6>
                    <div class="d-flex justify-content-end mb-2">
                        <a class="btn btn-primary" href="/bills/{{bills.first.id}}?from">
                           <span class="bx bx-food-menu"></span> View Billing</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="bills">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">Billing Month</th>
                                    <th scope="col">Cubic Meter</th>
                                    <th scope="col">Cost per m<sup>3</sup></th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Penalty</th>
                                    <th scope="col">Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% if bills %}
                                {% for bill in bills %}
                                <tr>
                                    <td>{{bill.reading.billing_month|date:"M Y"}}</td>
                                    <td>{{bill.reading.consumption}} m<sup>3</sup></td>
                                    <td>{{bill.reading.multiplier}}</td>
                                    <td><span>&#8369;</span> {{bill.amount}}</td>
                                    <td><span>&#8369;</span> {{bill.penalty}}</td>
                                    <th class="
                                    {% if bill.status == 'paid' %}text-primary{% endif %}
                                    {% if bill.status == 'unpaid' %}text-success{% endif %}
                                    {% if bill.status == 'due' %}text-danger{% endif %}">
                                    {{bill.status}}</th>
                                    
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="col-lg-4">
                <div class="border p-2  bg-light rounded">
                    <h6 class="text-primary">Paid Vs. Unpaid Graph</h6>
                    <div id="paid-vs-unpaid"></div>
                </div>
            </div>


        </div>
    </section>

</div>

<script>
    async function render_histogram() {
        const response = await fetch('/api/v1/bills-paid-vs-unpaid/{{consumer.id}}');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        if (data['paid'] == null) {
            data['paid'] = 0;
        }

        if (data['unpaid'] == null) {
            data['unpaid'] = 0;
        }

        var options = {
            series: [parseFloat(data['paid']), parseFloat(data['unpaid'])],
            chart: {
                type: 'donut',
            },
            labels: ["Paid", "Unpaid"],
            responsive: [{
                breakpoint: 400,
                options: {
                    chart: {
                        width: 400
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#paid-vs-unpaid"), options);
        chart.render();
    }
    render_histogram();
</script>

<script>
	$('#bills').dataTable( {
		"ordering": false
	} );
</script>
{% endblock content %}