{% extends 'app.html'%}

{% load static %}

{% block content%}

{%include 'navbar.html'%}

<div class="container">
    <h1>{{consumer.first_name}} {{consumer.middle_name}}
        {{consumer.last_name}} {{consumer.ext_name}}</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="\consumers">Consumers</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="\consumers\{{consumer.id}}">{{consumer.first_name}}
                    {{consumer.middle_name}}
                    {{consumer.last_name}} {{consumer.ext_name}}</a></li>
            <li class="breadcrumb-item" aria-current="page">Transact</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-lg-6 col-mb-12 col-sm-12">
            <h6>Select Billing Month</h6>
            <div class="col mb-2 ">
                <div class="d-flex">
                    <div>
                        {% if choices %}
                        {% for choice in choices %}

                        {% if choice.id == collectible.id %}
                        <a class="btn btn-success" href="/transact/{{choice.id}}">
                            {{choice.reading.billing_month|date:"M Y"}}</a>
                        {% else %}
                        <a class="btn btn-outline-success"
                            href="/transact/{{choice.id}}">{{choice.reading.billing_month|date:"M Y"}}</a>
                        {% endif %}
                        {% endfor %}

                        {% else %}
                            <p class="text-danger">This consumer has no unpaid or due billings right now.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <form id="transaction-form" method="POST" class="mb-2" action="/transact/complete">
                {% csrf_token %}
                <div class="row">

                    <div class="form-group mb-3 col-12 d-none">
                        <label class="mb-2">Consumer Id</label>
                        <input type="number" name="consumer_id" id="consumer_id" class="form-control"
                            placeholder="Amount Due" value="{{ consumer.id }}" readonly>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group mb-3 col-12 d-none   ">
                        <label class="mb-2">Bill Id</label>
                        <input type="number" name="collectible_id" id="collectible_id" class="form-control"
                            placeholder="Amount Due" value="{{ collectible.id }}" readonly>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group mb-3 col-12">
                        <label class="mb-2">Amount Due:</label>
                        <input type="number" name="total" id="total" class="form-control" placeholder="Amount Due"
                            value="{{ arrear.total_bill }}" readonly>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group mb-3 col-12">
                        <label class="mb-2">Cash Tendered: </label>
                        <input type="number" name="tendered" id="tendered" class="form-control"
                            placeholder="Cash Tendered" oninput="compute_change()">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group mb-3 col-12">
                        <label class="mb-2">Change: </label>
                        <input type="number" name="change" id="change" class="form-control" placeholder="Change"
                            readonly>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>



                <div class="form-group d-flex justify-content-end">
                    <div>
                        <a type=""  onclick="history.back()" class="btn btn-danger">Cancel</a>
                        <button type="submit" value="submit" class="btn btn-primary">Sumbit</button>
                    </div>
                </div>

            </form>
        </div>

        {% if collectible.status != 'paid' %}
        <div class="col-lg-6 col-mb-12 col-sm-12">
            <div class="border p-2 mb-3">
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Meter No.</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0">{{consumer.meter_no}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Billing Month</p>
                    </div>
                    {% if arrear.start_month == reading.billing_month%}
                    <div class="col-6">
                        <b class="text-muted mb-0">{{reading.billing_month|date:"M Y"}}</b>
                    </div>
                    {% else %}
                    <div class="col-6">
                        <b class="text-muted mb-0">{{arrear.start_month|date:"M Y"}} -
                            {{reading.billing_month|date:"M Y"}}</b>
                    </div>
                    {% endif %}
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Due Date</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0">{{collectible.due_date|date:"M d, Y"}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Status</p>
                    </div>
                    <div class="col-6">
                        <b class="
                        {% if collectible.status == 'paid' %}text-primary{% endif %}
                        {% if collectible.status == 'unpaid' %}text-success{% endif %}
                        {% if collectible.status == 'due' %}text-danger{% endif %}
                        mb-0">{{collectible.status}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Previous Reading</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0">{{reading.previous}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Present</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0">{{reading.present}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Consumption</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0">{{reading.consumption}} m<sup>3</sup></b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Rate per m<sup>3</sup></p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0"><span>&#8369;</span> {{reading.multiplier}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Bill</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0"><span>&#8369;</span> {{collectible.amount}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Arrear Months</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0">{{arrear.num_arrear}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Arrear Amount</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0"><span>&#8369;</span> {{arrear.arrear_amount}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Penalty</p>
                    </div>
                    <div class="col-6">
                        <b class="text-muted mb-0"><span>&#8369;</span> {{collectible.penalty}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <h5 class="mb-0">Total Bill</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="text-muted mb-0"><b><span>&#8369;</span> {{ arrear.total_bill }}</b></h5>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>

<script>
    const validation = new window.JustValidate('#transaction-form', {
        errorFieldCssClass: 'is-invalid',
    });

    const total = document.getElementById('total');
    const tendered = document.getElementById('tendered');
    const change = document.getElementById('change');

    validation
        .addField('#total', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#tendered', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, {
            rule: 'number',
            errorMessage: 'Please input an amount higher than the total',
        }, {
            validator: () => {
                if (parseFloat(total.value) <= parseFloat(tendered.value)) {
                    return true;
                } else {
                    return false;
                }
            },
            errorMessage: 'Present reading must be greater than previous reading',
        }])
        .addField('#change', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .onSuccess((event) => {
            document.getElementById("transaction-form").submit();
        });

    function compute_change() {
        change_value = parseFloat(tendered.value) - parseFloat(total.value);

        if (change_value > 0) {
            change.value = change_value
        } else {
            change.value = 0
        }

    }

</script>




{%endblock content%}